/*INDEX STYLESHEET*/

*{
	box-sizing: border-box;
}

p{
	font-family: 'Baskervville', serif;
}

/*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: "Audrey";
}*/

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	margin: 0;
}

header{
	padding: 0px 0;
}

.fwh-slide {
  padding: 100px 0;
}

.fwh-slide h1.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.fwh-slide{
	height: 100%;
	box-sizing: border-box;
}

nav{
	height: auto;
	font-weight: bold;
	font-size:0.9rem;
}


.navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

.navbar-nav .nav-item{
	padding-right: 5px;
	font-size: 0.9rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 50%;
  font-weight: 400;
  padding: 1em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 947.25px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
    height: 100%;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 100%;
    padding: 12px 0;
  }
}

#nav .navbar-nav .nav-item .nav-link.active{
	color:white;
}


/* Set a style for all buttons */
button {
  background-color: #CC9C80;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-weight: bolder;
}

button:hover {
  opacity:1;
}

/*SCHEDULE STYLESHEET*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

#schedule{
	padding:100px 0;
}

.panel .img-thumbnail {
	height:300px;
	width:300px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  padding-bottom: 15px;
}

#About p{
	padding-bottom: 30px;
}

#About{
	padding-bottom: 200px;
	background-color: #FFFFFF;
}

#Achievements{
	background-color: #FFC3A0 ;
	overflow:hidden;
}

#Packages{
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 45%, rgba(244,108,108,1) 100%); 
	height: 100vh;
}

#footer{
	background-color: #CC9C80;
	padding-bottom: 100px;
}

.navbar-brand img{
	width:120px;
	height:auto;
}

.col-md-3 img{
	width:80%;
	height:80%;
}

hr{
	margin-top:0 !important;
	margin-bottom:0 !important;
}

/*achieements*/
section #Achievements {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  overflow:scroll;
}

#Achievements .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#Achievements hr {
  margin: 1.5rem 0;
}

#Achievements .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

#Achievements .card-price {
  font-size: 3rem;
  margin: 0;
}

#Achievements .card-price .period {
  font-size: 0.8rem;
}

#Achievements ul li {
  margin-bottom: 1rem;
  list-style: none;
}

#Achievements .text-muted {
  opacity: 0.7;
}

#Achievements .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  #Achievements .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  #Achievements .card:hover .btn {
    opacity: 1;
  }
}

/*.jumbotron{
	margin-bottom:100px;
}*/

body{
	overflow-x:hidden;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

#Book-now{
	background: url("../img/book-bg-01.png") 100% 100%;
	background-position: center;
	background-size: cover;
	height:100vh;
}

#separator{
	position: relative;
	min-height: 150px;
}

.blocks-list{
	list-style: none;
}

.blocks-item {
    border: 1px solid rgba(23, 157, 181, 1);
	border-radius: 4px;
	box-sizing: border-box;
	/*color: rgba(23, 157, 181, 1);*/
	display: flex;
	flex: 1 0 340px;
	flex-direction: column;
	justify-content: center;
	margin: 0 0 30px;
	max-width: 100%;
	text-align: center;
}

.col-md-3 .head{
	color: black;
	font-weight: bold;
	padding-bottom: 10px;
}

.col-md-3 a{
	color: black;
}

.col-md-3 p{
	margin-bottom: 5px;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    border-style: solid;
    border-width: 3px 0 3px 0;
    border-color: #d9d9d9;
	text-shadow: 2px 2px 4px #000000;
}

.lead{
	text-shadow: 2px 2px 4px #000000;
}

.col-md-3 a:hover{
	text-decoration: none;
	color: white;
	transition: all ease-in-out 0.75s;
}

#schedule a{
	color:gray;
}

#schedule a:hover{
	text-decoration: none;
	color: black;
}

#schedule .desc{
	padding-bottom: 20px;
}